<form action="/movies"
      method="POST"
      enctype="application/x-www-form-urlencoded">

    <label for="title">
        Titulo:
        <input type="text" name="title">
    </label>

    <label for="year">
        Año:
        <input type="text" name="year">
    </label>

    <label for="rate">
        Rate:
        <input type="text" name="rate">
    </label>

    <button type="submit">Picale</button>

</form>