<form action="/auth/register" method="POST">
    <div>
        <label for="">
            Nombre de usuario:
            <input type="text"
                   placeholder="username"
                   name="username">
        </label>
    </div>
    <div>
        <label for="">
            Email:
            <input type="email"
                   placeholder="email"
                   name="email">
        </label>
    </div>
    <div>
        <label for="">
            Password:
            <input type="password"
                   placeholder="password"
                   name="password">
        </label>
    </div>
    <div>
        <label for="">
            Confirm password:
            <input type="password"
                   placeholder="confirm-password"
                   name="confirmpassword">
        </label>
    </div>

    <button type="submit">Picale papa</button>
</form>

<p style="color: red">
    {{err}}
</p>