<form action="/authors" method="POST">

    <div>
        <label for="">Name: </label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="">Lastname: </label>
        <input type="text" name="lastname">
    </div>
    <div>
        <label for="">Nationality: </label>
        <input type="text" name="nationality">
    </div>
    <div>
        <label for="">Birthday:</label>
        <input type="date" name="birthday">
    </div>

    <button type="submit">Agregar autor</button>

</form>