<form
        {{#if book}}
            action="/books/{{book._id}}"
        {{else}}
            action="/books/add"
        {{/if}}

        method="post">
    <label for="">Title:</label>
    <input type="text" name="title" value="{{book.title}}">

    <label for="">Author:</label>
    <input type="text" name="author">

    <label for="">Description:</label>
    <input type="text" name="description">

    <label for="">Rate:</label>
    <input type="number" name="rating">

    <button type="submit">ADD</button>
</form>