<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/uikit.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">IronGram</a>

            <ul class="uk-navbar-nav">
                <li class=""><a href="/post/">Feed</a></li>
                <li><a href="/post/add">New</a></li>
            </ul>

        </div>
    </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/uikit.min.js"></script>
  <script src="/javascripts/uikit-icons.min.js"></script>
</body>
</html>