<form action="/auth/login" method="post">
    <div>
        <label for="">
            Email:
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label for="">
            Password:
            <input type="password" name="password">
        </label>
    </div>

    <button type="submit">Login</button>
</form>