<form action="/auth/register" method="post">
    <div>
        <label for="">
            Username:
            <input type="text" name="username">
        </label>
    </div>
    <div>
        <label for="">
            Email:
            <input type="email" name="email">
        </label>
    </div>
    <div>
        <label for="">
            password:
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <label for="">
            Confirm password:
            <input type="password" name="password-confirm">
        </label>
    </div>

    <button type="submit">Register</button>
</form>